* {
	box-sizing: border-box;
	margin: 0;
}

fieldset {
	border: none;
	padding: 0px;
	margin: 0px;
}

label {
	display: inline-block;
	margin-top: 10px;
}

.contact-info p {
	margin-top: 10px;
}
input {
	display: block;
}

button.add-contact {
	margin-top: 10px;
}

section.name-list {
	margin-top: 40px;
}

section.contact-info {
	display: none;
}